Makefile
lib/
*~
*.dep
*.log
autom4te.cache/
config.status
*.inc
configure
src/front/x86_64/
src/intfc/x86_64/
src/make.files
src/make.ofiles
src/pak/blas/x86_64/
src/pak/linpak/x86_64/
src/util/make.dep.u
src/util/x86_64/
iFluid/*.o
iFluid/iFluid
iFluid/out*
iFluid/gv-init
iFluid/volcomp/*.o
iFluid/volcomp/*.a
iFluid/Makefile.in
include
Makefile
tags
TAGS
*.v
*.sh
run*
*.txt
.DS_Store
._*
